<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mmd.pms.user.dao.UserDao">

    <!--二级缓存补充说明
    　　1. 映射语句文件中的所有select语句将会被缓存。
    　　2. 映射语句文件中的所有insert，update和delete语句会刷新缓存。
    　　3. 缓存会使用Least Recently Used（LRU，最近最少使用的）算法来收回。
    　　4. 缓存会根据指定的时间间隔来刷新。
    　　5. 缓存会存储1024个对象
    cache标签常用属性：
    eviction="FIFO" 回收策略为先进先出
    flushInterval="60000" 自动刷新时间60s
    size="512" 最多缓存512个引用对象
    readOnly="true" 只读

    这种配置有一个缺点,就是有更新后则会把原来所有的缓存都清除,
    我们可以用代码来写这个缓存,这样就可控制只会清除某个更新操作的那段
    -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

    <sql id="userColumns">
        u.id,
        u.login_name as "loginName",
        u.user_type as "userType",
        u.salt,
        u.password,
        u.name,
        u.email,
        u.phone,
        u.mobile,
        u.login_ip as "loginIp",
        u.login_date as "loginDate",
        u.login_flag as "loginFlag",
        u.create_by as "createBy.id",
        u.create_date as "createDate",
        u.update_by as "updateBy.id",
        u.update_date as "updateDate",
        u.remarks
    </sql>

    <select id="queryList" parameterType="User" resultType="User">

    </select>

    <select id="queryUserByLoginName" resultType="User" parameterType="User">
        SELECT <include refid="userColumns" />
        FROM pms_user u
        WHERE u.login_name = #{loginName}
        and u.user_type=#{userType}
        and u.del_flag = #{DEL_FLAG_NORMAL}
    </select>

    <insert id="insert" parameterType="User">
        insert into pms_user(login_name, salt, password, user_type, create_date, update_date)
         VALUES(#{loginName}, #{salt}, #{password}, #{userType}, now(), now())
    </insert>

</mapper>